.i{

    width: 400px;
    height: 300px;
}

#one{
    position: relative;
    top: 100px;
    left: 100px;
    margin-bottom: 10px;
    
}

#two{
    position: absolute;
    top: 50px;
    right: 10px;
    margin-bottom: 10px;
}

#link{

    position: fixed;
    bottom: 5px;
    right: 5px;
}

#all{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
}