/******** GENERAL SETTINGS *******/
* {
    box-sizing: border-box;
}
#container {
    width: 960px;
    margin: 20px auto;
}
/******* HEADER ********/
#header img {
    width: 70px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}
#header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 15px;
}
#header p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
/******** MAIN SECTION ********/
#main {
    margin-top: 60px;
}

#sec-one {
    width: 460px;
    float: left;
    margin-left: 15px;
    }
#sec-two {
    width: 460px;
    float: right;
    border-left: 2px solid black;
    padding-left: 20px;
    margin-right: 15px;
    
 }
#sec-one h2, #sec-two h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 0px;
} 

#sec-one p, #sec-two p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;
}